Node {
    -fx-background-insets: 0;
}
Button,
ComboBox {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.searchBox {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 2.0;
    -fx-padding: 0.5em 0.5em 0.5em 0.1em;
    -fx-border-width: 0 0 0 0;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-highlight-fill: rgb(94.0, 203.0, 234.0);
}
.nextButton {
    -fx-background-color: #FF5722;
    -fx-text-fill: white;
    -fx-border-width: 0;
}
.main {
    -fx-background-color: white;
    -fx-padding: 5;
}
.main > ScrollPane > .viewport {
    -fx-background-color: white;
}
.menuBar {
    -fx-effect: dropshadow(three-pass-box, lightgray, 5, 0.0, 0, 5);
    -fx-background-color: #FF5722; //From dark orange palette
}
.sideMenu {
    -fx-effect: dropshadow(three-pass-box, gray, 5, 0.0, 5, 0);
    -fx-background-color: white;
}
.sideMenu Button {
    -fx-border-width: 0;
}
.dimmer {
    -fx-background-color: gray;
    -fx-opacity: 0;
}
.actionBar Button {
    -fx-border-width: 1;
    -fx-border-color: lightgrey;
    -fx-border-radius: 5;
}
